/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.5em;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 14em;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* HEADER */
#header {
    /*background: url('img/header.jpg') no-repeat;*/
    background-color: #57068c;
    border-bottom: #fff 2px solid;

}


/**Navigation Bar **/

#wrap  {
    width: 100%; /* Spans the width of the page */
    height: 50px;
    margin: 0; /* Ensures there is no space between sides of the screen and the menu */
    z-index: 99; /* Makes sure that your menu remains on top of other page elements */
    position: relative; 
    padding: 0 0 0 116px;
    background-color: #57068c;
    }

.navbar {
    /*height: 50px;*/
    padding: 0;
    margin: 0;
    position: absolute;  /* Ensures that the menu doesnâ€™t affect other elements */
    border-right: 1px solid #79068c;
    }

.navbar li  {
            height: 50px;
            width: 150px;  /* Each menu item is 150px wide */
            float: left;  /* This lines up the menu items horizontally */
            text-align: center;  /* All text is placed in the center of the box */
            list-style: none;  /* Removes the default styling (bullets) for the list */
            font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
            padding: 0;
            margin: 0;
            background-color: #57068c;
                        }

.navbar a   {                           
        padding: 18px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
        border-left: 1px solid #79068c; /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
        border-right: 1px solid #4f045b; /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
        text-decoration: none;  /* Removes the default hyperlink styling. */
        color: white; /* Text color is white */
        display: block;
        }


 .navbar li:hover, a:hover {background-color: #7bc143;} 


.navbar li ul   {
        display: none;  /* Hides the drop-down menu */
        height: auto;                                   
        margin: 0; /* Aligns drop-down box underneath the menu item */
        padding: 0; /* Aligns drop-down box underneath the menu item */         
        }               

.navbar li:hover ul     {
                        display: block; /* Displays the drop-down box when the menu item is hovered over */
                        }


 .navbar li ul li {background-color: #7bc143;} 


 .navbar li ul li a     {
        border-left: 1px solid #4f045b; 
        border-right: 1px solid #4f045b; 
        border-top: 1px solid #79068c; 
        border-bottom: 1px solid #4f045b; 
        }
                
.navbar li ul li a:hover    {background-color: #57068c;}
}

#container {
    width: 100%;
    /*height: 100%; */

}

#content {
    float: left;
    padding-bottom: 32px;


}

/* SIDEBAR */
#sidebar {
    display: inline-block;
    /*padding-left: 20px;*/
    vertical-align: top;
    width: 200px;
    /*position:absolute;*/
    /*top:0; bottom:0; left:0;*/
    /*width:50px;*/
    /*background:#000;*/
    /*float: left;*/
    /*padding-top: 10px;*/
    /*line-height: 2.5em;*/
    line-height: 1.5em;
}

#sidebar ul {
    padding: 0;
    margin-left: 12px;
    width: 200px;
}

#sidebar ul li {
    list-style-type: none;
    list-style-image: none;
    /* width: 200px; */
    background-color: #DDD;
    height: 23.5px;
    border-bottom: #FFF solid 2px;
    padding: 12px 16px;
    /* vertical-align: middle; */
    font-size: 14px;
    text-align: center;
}


#sidebar a{
    /*display: block;*/
/*    width:150px;
    background-color: #dddddd;*/
    text-decoration: none;
    /*padding-left: 1px;*/

}

#sidebar li:hover, a:active {
    background-color: #7bc143;
}

#sidebar .head {
    /*color: #FFF;*/
    /*background-color: #3D0463;*/
    /* border-right: 1px solid #3B8C06; */
    /*letter-spacing: 0.15em;*/
    /*color: #ffffff;*/
   /* background-color: #3d0463; /*changed*/
    /*border-bottom: 2px solid #3b8c06; /*changed*/
     /*border-right:1px solid #3b8c06;changed*/
    /*border-top: 1px solid #3d0463; changed*/
    /*text-align: center;*/
    /*text-shadow: -1px 1px 1px #666666;*/
    /*letter-spacing: 0.15em;*/

    color: #FFF;
    background-color: #3D0463;
    /* border-right: 1px solid #3B8C06; */
    letter-spacing: 0.15em;

    /*-webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px; */
}
/*Tables**/
table{
    border-spacing: 0px;
}

th, td{
    padding: 0px 2px 2px 1px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}

th, td{
    text-align: left;
    background-color: #dddddd;
    border-top: 1px solid #3d0463;
    border-bottom: 1px solid #3d0463;
    border-right: 1px solid #3d0463;

}




tr.head th{
    color: #ffffff;
    background-color: #3d0463; /*changed*/
    /*border-bottom: 2px solid #3b8c06; /*changed*/
    border-right:1px solid #3b8c06; </*changed*/
    border-top: 1px solid #3d0463; /*changed*/
    text-align: center;
    text-shadow: -1px 1px 1px #666666;
    letter-spacing: 0.15em;
}

td{
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th{
    background-color: #dddddd;
}

tr.head th:first-child{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px; 
}

tr.head th:last-child{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px; 
}

/* MAIN CONTENT */
#main {
/*    display: inline-block;
    padding-left: 200px;
    padding-top: 100px;*/
    display: inline-block;
    position: relative;
    left: 250px;
    top: 89px;
}


/* CAROUSEL VENDOR STYLES */

#carousel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 300px;

}

#carousel .slides {
    cursor: move;
    position: absolute;
    left: -230px; top: -90px;
    width: 1000px;
    height: 450px;
    overflow: hidden;
}
/* jssor slider arrow navigator skin 03 css */
/*
.jssora03l              (normal)
.jssora03r              (normal)
.jssora03l:hover        (normal mouseover)
.jssora03r:hover        (normal mouseover)
.jssora03ldn            (mousedown)
.jssora03rdn            (mousedown)
*/
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a03.png) no-repeat;
    overflow:hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03rdn { background-position: -303px -33px; }

#leftArrow {
     width: 55px;
     height: 55px;
     top: 123px;
     left: -212px;
}

#rightArrow {
     width: 55px;
     height: 55px;
     top: 123px;
     right: -150px;
}


/*News and Events*/
.bottom-content {
    padding-left: 155px;
}
#block{
    display: inline-block;
    padding-left: 200px;
    /*padding-top: 00px;*/

}




.column1of3, .column2of3{
    width: 390px;
    float: left;
    margin: 10px 5em;
    background-color: #f9f9f9;*/
    /*background-color: #ddd;*/
    text-align: center;
    background-color: #d1d1d1;
}

.column2of3 img {
    margin-top: 30px;
    margin-left: 1px;
}

.colloquium{
    font-size: .8em;
    line-height: 1.0;
}

.Announcements{
    font-size: 1em;
    line-height: 1.5;
}


/*Bottom Content*/
.column {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    /*float: left;*/
    line-height: 1.5em;
    text-align: center;
    padding-left: 211px;

}

.column .img-holder {
    background-color: #C2C2C2;
    padding: 3px;
    width: 130px;
    margin: 0 auto;
}

.column ul {
    padding: 0;
    margin-left: 12px;
    width: 390px;
}


.column ul li {
    list-style-type: none;
    list-style-image: url("../img/link_bullet.jpg");
    background-color: #DDD;
    border-bottom: #FFF solid 1px;
    padding: 12px 16px;
    font-size: 14px
    text-align: center;
}

.column a{
    text-decoration: none;

}
.column li:hover, :active {
    background-color: #7bc143;
}

.column .head {


    color: #fff;
    background-color: #3D0463;
    letter-spacing: 0.15em;
    list-style-image: none;

}

.head li{
    list-style-image: none;
    list-style-type: none;
}

li{
    list-style-image: "img/link_bullet.jpg";
}

#gregory{
    padding-left: 12px;
}


/* FOOTER STYLES */
.footer-wrapper {
    margin-top: 100px;
}

.footer{
    width: 100%;
    height: 450px;
    position: absolute;
    background: #f9f9f9;
}

#signature{
    color:#57068c;
    text-transform: uppercase;
    font-size: 2.33em;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    margin-right: 500px;
    display: inline-block;
}

#follow_us{
    display: inline-block;
}

.row {
    text-align: center;
}

.red {
    color: #7bc143;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}