
body {
        margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	background-color:white;
	}

h1 {
	margin:0px 0px 15px 0px;
	padding:10px 0px;
	font-size:16pt;
	line-height:18pt;
	font-weight:900;
	color:#999;
	}

h2, .center-header {
font-family : verdana, arial, helvetica, sans-serif; 
color : #666666;
font-size : 14pt; 
font-weight: bold;
}

.center-header
{ 
  line-height: 30pt;
 }

h3 {
font-family : verdana, arial, helvetica, sans-serif; 
font-size : 12pt; 
color : #666666;
font-weight: bold;
}

h4, {
font-size : 10pt; 
font-family : verdana, arial, helvetica, sans-serif; 
color : #600; 
background : transparent; 
}

p, ul, ol, table 
{
  font-size: 10pt;
}

.name, .staff-title
{ 
  font-weight: bold;
 }

.specialties
{ 
  font-style: italic;
 }

a 
{
	color:#003366;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
}

a:link {color:#003366;}
a:visited {color:#0000cc;}
a:hover {background-color:#003366; color: #cccc99}

#DepartmentImage {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 2px;
  height: 52px;
  width: 377px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:52px; /* 14px + 17px + 2px = 33px */
	line-height:10px;
	background-color:#fff;

/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family:inherit;
	height:52px; /* the correct height */
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#DepartmentImage {height:52px;}


#PolyLogo {
  position: absolute;
  right: 0px;
  top: 2px;
  height: 52px;
  width: 235px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:52px; /* 14px + 17px + 2px = 33px */
	line-height:10px;
	background-color:#fff;

/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family:inherit;
	height:52px; /* the correct height */
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#PolyLogo {height:52px;}

#Body {
  position: absolute;
  top: 80px;
  left:20px;
  padding:20px;
	}

#Content {
  position: absolute;
  top: 80px;
	margin:10px 0px 0px 210px;
	padding:20px;
	}

#Content li
{ 
  list-style-type: none;
  padding:10px;
}

#Menu {
  font-size: 10pt;
	position:absolute;
	top:110px;
	left:20px;
	width:170px;
	padding:10px;
	background-color:#CCCC99;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:170px;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:170px;}

div#Menu ul { 
	background-color:#CCCC99;
}

div#Menu li { 
    font-weight: bold;
    list-style-type: none;
    text-align: right;
    padding: 10px;
    display: block;
    background-color:#CCCC99;
 }

div#Menu li#currentitem { 
    background-color:#CCCC99;

 }

div#Menu li a {
	background-color:#CCCC99;
}

div#Menu li a:hover {
    color: #CCCC99;
    background-color: #003366;
}

div#nav {
    position: absolute;
    top: 75px;
    height: 30px;
    width: 100%;
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
    background-color: #3d0463;
}

div#nav ul {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-variant: small-caps;
    font-weight: bold;
    color: #FFF;
    line-height: 30px;
    white-space: nowrap;
}

div#nav li {
    list-style-type: none;
    display: inline;
    font-weight: bold;
    background-color: #003366;
}

div#nav li#currentitem { 
    padding: 6px 20px;
    font-weight: bold;
    background-color: #003366;
 }

div#nav li a {
    padding: 7px 20px;
    text-decoration: none;
    color: #FFF;
    background-color: #3d0463 ;
}

div#nav li a:link {
    color: #FFF:
}

div#nav li a:hover {
    font-weight: bold;
    color: #003366;
    background-color: #7bc143;
}

a
{ 
    color: #003366;
}
a:hover, a:active
{
	color: #FFF;
	background-color: #003366;
}



#breadcontainer { margin-left: 0; }

/*Fat Erik's Breadcrumbs*/
#breadcrumbs
{
font-size: 10pt;
font-weight: bold;
list-style: none;
padding: 0px 0px 15px 0px;
margin: 0;
}

#breadcrumbs li
{
display: inline;
padding: 0;
margin: 0;
}

#breadcrumbs li:before { content: "> "; }
#breadcrumbs li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #breadcrumbs li
{
background-image: url("/images/gt.gif");
background-repeat: no-repeat;
background-position: 0 50%;
padding: 0 0.5em 0 1em;
margin: 0 1em 0 -1em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #breadcrumbs { height: 1%; }

* html #breadcrumbs li
{
display: block;
float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #breadcrumbs li:first-child { background-image: none; }


ul#publications
{ 
   font-size: 12pt;
   font-weight: bold;
   list-style-type: none;
   display: block;
}

ul#publications li
{ 
  padding: 0px 0px 15px 0px;
}


ul#seminars li
{ 
  padding: 0px 0px 5px 0px;
  margin: 0;
  float: top;
}

.floatright
{ 
  float: right;
}

.thumb
{ 
  float: left;
  margin: 0px 10px 0px 0px;
}

div#floatleft
{ 
  float: left;
}

div#floattop
{  
  float: top;
}


/* =Hoverbox Code
----------------------------------------------------------------------*/

.hoverbox
{
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: relative;
	top: -100px;
	left: -100px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
}

.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.hoverbox .preview
{
	border-color: #000;
}

/* =Internet Explorer Hacks
----------------------------------------------------------------------*/

* html .hoverbox a
{
	position: relative;
}

* html .hoverbox a:hover
{
	font-size: 100%;
	z-index: 1;
}

* html .hoverbox a:hover .preview
{
	position: relative;
	top: 0px;
	left: 0px;
}

* html .hoverbox li
{
	position: static;
}
